/*comon shared css*/
body{
    font-family: 'Lexend Peta', sans-serif;
font-family: 'Open Sans', sans-serif;

}
.orang-color{
   color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px 18px 35px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
/*nav section*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-titile{
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav ul li a{
    text-decoration: none;

}
/*this the header seiction*/
.header{
    background: #FFF8F3;
    background-image: url("./header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.bannar{padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.bannar .profile-pic{
    width: 500px;
   

}
.bannar-contan{
    max-width: 600px;
}
.bannar-greeting{
    font-size: 45px;
    font-weight: 600;
    margin: 0;

}
.bannar-titile{
    font-size: 80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;

}
.bannar-p{
    margin-top: -10px;
}
  
/*main section about*/
main{max-width: 1140px;
    margin: 0 auto;

}
.section-titile{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    
}

.about{
    padding: 130px;
    border-radius: 5px;
    background: #FFF8F3;
    margin-top: 100px ;
}

.section-description{

}
.about-info-cantainer{
    display: flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}
.info-title{color: #553333;
         margin-top:-10px ;
    

}
.info-discreption{
font-size: 20px;

}
/*footer section about*/
